.header-wrap {
    background-color: white;
    display: flex;
    padding: 20px 30px;
  }

.header-wrap .header-links {
    width: 80%;
    padding-top: 15px;
  }

.header-wrap .header-welcome{
  font-size: larger;
}


  
  